/* General layout */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1b263b;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Title styling */
.fridge-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Fridge styling */
.fridge {
  width: 500px;
  height: 700px;
  background-color: #2b2b2b;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: linear-gradient(to bottom, #333, #1c1c1c); /* Metallic gradient */
  
  /* Updated shadow effect */
  box-shadow: 
    0 10px 15px rgba(0, 0, 0, 0.5),  /* Main shadow for depth */
    0 0 30px rgba(255, 255, 255, 0.1),  /* Soft white glow for light effect */
    inset 0 0 50px rgba(255, 255, 255, 0.05);  /* Inner glow for reflection */
}

/* Fridge closed styling */
.fridge.closed .fridge-door-left {
  background-color: #1e1e1e;
  background: linear-gradient(to right, #1e1e1e, #2c2c2c);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.4);
}

.fridge.closed .fridge-door-right {
  background-color: #262626;
  background: linear-gradient(to left, #262626, #333);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
}

/* Reflections for realism */
.fridge.closed .fridge-door-left::after,
.fridge.closed .fridge-door-right::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.05), transparent);
  opacity: 0.4; /* Subtle reflection */
  pointer-events: none;
}

/* Separation line */
.fridge.closed::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 50%;
  width: 3px;
  height: 100%;
  background-color: white;
  z-index: 3;
  transform: translateX(-50%);
}

/* Fridge doors */
.fridge-door-left, .fridge-door-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 60px;
  transition: transform 1s ease-in-out;
  z-index: 2;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center; /* למקם את המנעול בצורה אנכית */
  justify-content: center; /* למקם את המנעול בצורה אופקית */

  /* Add subtle shadow effect to fridge doors */
  box-shadow: 
    0 5px 10px rgba(0, 0, 0, 0.4),  /* Shadow below the doors */
    inset 0 0 10px rgba(255, 255, 255, 0.1);  /* Inner glow for depth */
}

.fridge-door-left {
  left: 0;
  transform-origin: left;
}

.fridge-door-right {
  right: 0;
  transform-origin: right;
}

/* Light and shadow effect when fridge is opened */
.fridge.open {
  /* Add a glow around the fridge when it's open */
  box-shadow: 
    0 20px 30px rgba(0, 0, 0, 0.7),  /* Stronger shadow for depth */
    0 0 50px rgba(255, 255, 255, 0.3);  /* Bright white glow around the fridge */
}

.fridge-door-left.open {
  transform: rotateY(150deg);
}

.fridge-door-right.open {
  transform: rotateY(-150deg);
}

/* Keeping the matte black look when the doors are open */
.fridge.open .fridge-door-left,
.fridge.open .fridge-door-right {
  background-color: #1e1e1e;
  background: linear-gradient(to right, #1e1e1e, #2c2c2c);
}

/* Fridge interior */
.fridge-interior {
  position: absolute;
  width: 91.8%;
  height: calc(100% - 60px);
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background-color: #fff; /* White color for open fridge */
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.8); /* Internal lighting effect */
  transition: visibility 0.1s ease-in-out, background-color 1s;
}

.fridge-door-left .lock-container, .fridge-door-right .lock-container {
  position: absolute;
  top: 50%; /* למקם את המנעול במרכז האנכי של הדלת */
  transform: translateY(-50%);
  background-color: #444; /* צבע רקע של המנעול */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


/* Add light effect when doors open */
.fridge.open .fridge-interior {
  visibility: visible;
  background-color: #10b2c7; /* Bright white light */
}


/* Fridge header */
.fridge-header {
  width: 50px; 
  height: 50px; 
  background: linear-gradient(to bottom, #2e2e2e, #1b1b1b); /* גרדיאנט מתכתי */
  border-radius: 50%; /* צורה עגולה */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* יהיה חלק מהדלת */
  top: 2px; /* מיקום מלמעלה */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* הוספת צל להעמקה */
  padding: 2px; /* מרווח פנימי */
}
  /* Toggle button styling */
.toggle-btn {
  background-color: #555;
  color: white;
  padding: 5px 10px; /* נקטין את הריפוד */
  font-size: 20px;
  border: none;
  border-radius: 50%; /* צורה עגולה */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* צל נוסף */
}
.toggle-btn:hover {
  background-color: #777;
  transform: scale(1.05); /* הגדלה קלה בזמן hover */
}

.toggle-btn:active {
  transform: scale(0.95); /* הקטנה קלה בזמן לחיצה */
}

/* Lock icon styling */
.lock-icon {
  font-size: 20px; /* הקטנת גודל האייקון */
}
/* Handle for opening the fridge */
.fridge-handle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 250px;
  background-color: #555;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1.5);
  cursor: pointer;
  z-index: 4;
}

.fridge.closed .fridge-handle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px;
  height: 100%;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 3;
}



/* Drawer styling */
.drawer {
  background: linear-gradient(145deg, #d1d1d1, #ffffff); /* גרדיאנט מתכתי */
  border: 2px solid #a3a3a3; /* צבע מתכתי כהה יותר */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* מיקום במרכז */
  justify-content: center; /* מיקום במרכז */
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1); /* צל נוסף */
  color: #333; /* צבע טקסט כהה */
  cursor: pointer;
  transition: transform 0.2s ease, height 0.3s ease;
  position: absolute;
}

.drawer:hover {
  background: linear-gradient(145deg, #bcbcbc, #e0e0e0); /* גרדיאנט מתכתי בהיר יותר */
  transform: scale(1.05); /* הגדלה קלה בזמן hover */
}

.drawer .edit-button {
  position: absolute; /* מיקום יחסי לכפתור */
  top: 5px; /* מרווח עליון */
  right: 5px; /* מרווח ימני */
  background: none; /* ללא רקע */
  border: none; /* ללא גבול */
  cursor: pointer; /* שינוי לסמן היד */
  color: #a3a3a3; /* צבע מתכתי כהה */
  font-size: 1.2rem; /* גודל הכפתור */
}

.drawer .edit-button:hover {
  color: #ff4500; /* שינוי לצבע כתום כהה בעת מעבר עכבר */
}

/* Fridge footer for legs */
.fridge-footer {
  width: calc(100% - 1500px);
  height: 25px; /* גובה הרגליות */
  position: absolute;
  bottom: 0;
  left: 50%; /* נעביר למרכז */
  transform: translateX(-50%); /* נמקם במרכז */
  display: flex;
  justify-content: space-between; /* רווח מקסימלי בין הרגליים */
  align-items: center;
}

/* Fridge leg styling */
.fridge-leg {
  width: 40px; /* רוחב הרגל */
  height: 20px; /* גובה הרגל */
  background-color: #333; /* צבע כהה יותר לרגל */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* הוספת צל */
}


