/* כותרת */
h3 {
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
}

/* רשימת הפריטים */
.tabletin-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tabletin-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 12px;
    background-color: #f0f0f0; /* צבע רקע עדין */
}

/* פריט בודד */
.tabletin-item {
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.noti-item{
    display: flex;
}

/* שם המגירה */
.drawer-name {
    font-weight: bold;
    margin-bottom: 4px; /* מרווח קטן מתחת לשם המגירה */
    color: #1c1c1e; /* צבע טקסט כהה יותר */
}

/* כמות המוצרים במגירה */
.drawer-quantity {
    color: #e63946;
    font-weight: 500;
}

/* הודעה ריקה */
.no-tabletin {
    color: #8e8e93;
    font-style: italic;
    font-size: 0.9rem;
    text-align: center;
}

/* כפתור להוספה לעגלה */
.add-to-cart-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #10b2c7; /* צבע כחול כמו באפל */
    font-size: 22px;
    transition: color 0.3s ease;
}

.add-to-cart-btn:hover {
    color: #008b8b; /* צבע כחול כהה יותר */
}

/* עיצוב מותאם אישית לגלילה כמו באפל */
.tabletin-container::-webkit-scrollbar {
    width: 6px;
}

.tabletin-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.tabletin-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

/* התאמה למסכים קטנים */
@media (max-width: 600px) {
    .tabletin-container {
        max-width: 100%;
        padding: 8px;
    }

    .tabletin-item {
        font-size: 0.85rem;
    }

    h3 {
        font-size: 1rem;
    }
}


/* כמות המוצרים בעגלת הקניות */
.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #10b2c7; /* ירוק כהה עם גוון כחלחל */
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-btn:hover {
    background-color: #008b8b;
}
.btn.btn-primary {
    background-color: transparent; /* אין רקע */
    border: none; /* אין גבול */
    color: black; /* צבע טקסט יירש מההורה */
}
.btn.btn-primary:hover {
    background-color: transparent;

}

