/* Popup.css */
.alert {
  position: fixed;
  transform: translateX(-50%); /* מסדר את המיקום המדויק במרכז */
  z-index: 1000;
  transition: opacity 0.5s ease; /* אפקט מעבר חלק */
  width: 400px; /* רוחב המלבן */

}

  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
    z-index: 5000;
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(0);
  }
  
  /* כאן אפשר לשנות את המראה של ההתראה בהתאם לצורך */
  