/* Popup.css */
.alert {
  position: fixed;
  transform: translateX(-50%);
  z-index: 1000;
  transition: opacity 0.5s ease;
  width: 400px;

}
  
.fade-in {
  opacity: 1;
  transform: translateY(0);
  z-index: 5000;
}
  
.fade-out {
  opacity: 0;
  transform: translateY(0);
}
  