/* Popup.css */
.alert {
  position: fixed;
  bottom: 20px; /* מרחק מהחלק התחתון של המסך */
  left: 50%; /* מרכז את הפופאפ לרוחב המסך */
  transform: translateX(-50%); /* מסדר את המיקום המדויק במרכז */
  z-index: 1000;
  transition: opacity 0.5s ease; /* אפקט מעבר חלק */
}

  
  .fade-in {
    opacity: 1;
    transform: translateY(0);
    z-index: 5000;
  }
  
  .fade-out {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  /* כאן אפשר לשנות את המראה של ההתראה בהתאם לצורך */
  